body{
    margin: 0%;
    background-color: #C6D57E;

}

h1{
    color: black;
    border: solid 8px;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 80px;
}


h2{
    color: black;
    border: solid 8px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;

}

.intro{
    color: black;
    border: solid;
    border-width: 0px 6px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: justify;
    margin-top: -40px;
}

span{
    color: green;
}

.Yiruma{
    width: 35%;
    display: inline-block;
    margin-left: 10%;
}

.Yiruma2{
    width: 35%;
    display: inline-block;
    margin-left: 10%;
}

.website{
    padding-left: 44.7%;
    margin-bottom: 5inch;
}


.email{
    font-size: 40px;
    display: block;
    color: lightgreen;
    background-color: black;
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin-left: 40%;
    border-radius: 10%;
    transition-duration: 1.5s;
}

.email:hover{
    background: black;
    color: gold;
    border-radius: 50%;
}

.email:active{
    color: gold;
    font-size: 400px;
}


